/* .nothing should be deleted eventually. I've just been using it for viewing the color palette*/
.nothing {
  background: rgb(70, 181, 245);
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: white;
  background: rgb(218, 217, 217);
  margin: 0;
}

* {
  box-sizing: border-box;
}

@media (min-width: 530px) {
  html {
    font-size: 20px;
  }
}